<ion-view title="Chats" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="chats-list3" class=" ">
            <ion-item class="item-avatar balanced  " id="chats-list-item9" ui-sref="tabsController.juanConversaciN">
                <h2balanced>Juan
                    <p>En línea</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar positive  " id="chats-list-item11">
                <h2positive>Marcos
                    <p>Escribiendo...</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar assertive  " id="chats-list-item12">
                <h2assertive>Lucía
                    <p>Desconectado</p>
                </h2assertive>
            </ion-item>
            <ion-item class="item-avatar balanced  " id="chats-list-item13">
                <h2balanced>Jorge
                    <p>En línea</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced  " id="chats-list-item14">
                <h2balanced>Matías
                    <p>En línea</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar assertive  " id="chats-list-item10">
                <h2assertive>María José
                    <p>Desconectado</p>
                </h2assertive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>