<ion-view title="Chats" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="chats-list3">
            <ion-item class="item-avatar"
                      ng-repeat="conversation in conversations | orderBy: '-last_message'">
              <img ng-src="{{ conversation.avatar_url }}" />
              <h2 ng-class="{ 'balanced': conversation.connected && !conversation.writing, 'positive': conversation.connected && conversation.writing, 'assertive': !conversation.connected }">
                {{ conversation.name }}
              </h2>
              <p ng-show="conversation.connected && !conversation.writing">
                En línea
              </p>
              <p ng-show="conversation.connected && conversation.writing">
                Escribiendo...
              </p>
              <p ng-show="!conversation.connected">
                Desconectado
              </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>