<ion-view title="Juan | Conversación" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="juanConversaciN-list6" class=" ">
            <ion-item class="item-avatar  " id="juanConversaciN-list-item22">
                <h2>Hola, cómo andás?</h2>
                <p>Recibido: hace 12 minutos</p>
            </ion-item>
            <ion-item class="item-icon-right  " id="juanConversaciN-list-item23">Todo bien Juan, vos?
                <span class="item-note">Yo</span>
                <i class="icon ion-chatbox"></i>
            </ion-item>
            <ion-item class="item-avatar  " id="juanConversaciN-list-item24">
                <h2>Impecable! En la bienal :)</h2>
                <p>Recibido: hace 9 minutos</p>
            </ion-item>
            <ion-item class="item-icon-right  " id="juanConversaciN-list-item25">Ah, yo también ando por acá! En una charla sobre desarrollo de aplicaciones móviles
                <span class="item-note">Yo</span>
                <i class="icon ion-chatbox"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 102px;"></div>
        <form id="juanConversaciN-form2" class="list ">
            <label class="item item-input " id="juanConversaciN-textarea1">
                <span class="input-label">Mensaje</span><textarea placeholder="Escribe tu mensaje..."> </textarea>
            </label>
            <button id="juanConversaciN-button2" class=" button button-balanced  button-block icon-right ion-android-send ">Enviar</button>
        </form>
    </ion-content>
</ion-view>