<ion-view title="Contactos" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list id="contactos-list4">
            <ion-item class="item-thumbnail-left"
                      ng-repeat="contact in contacts | orderBy: 'name'">
              <img ng-src="{{ contact.avatar_url }}" />
              <h2>{{ contact.name }}</h2>
              <p>Última vez conectado:
                <span ng-show="contact.connected">ahora</span>
                <span ng-hide="contact.connected">{{ contact.last_connection | date:'medium':'-0300' }}</span>
              </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>