<ion-view title="Contactos" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="contactos-list4" class=" ">
            <ion-item class="item-thumbnail-left  " id="contactos-list-item15" ui-sref="tabsController.juanDetalles">
                <h2>Juan</h2>
                <p style="white-space:normal;">Última vez conectado: ahora</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="contactos-list-item16" ui-sref="tabsController.juanDetalles">
                <h2>Lucía</h2>
                <p style="white-space:normal;">Última vez conectado: Martes 10 de mayo</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>