<ion-view title="Juan | Detalles" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="juanDetalles-markdown2" style="color:#000000;" class=" ">El estado de ánimo de Juan</p>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ul id="juanDetalles-markdown3" style="color:#000000;" class=" ">
            <li>Estado:
                <strong>En línea</strong>
            </li>
            <li>Última vez conectado: ahora</li>
            <li>
                <p>Es tu contacto desde: 10/02/13</p>
            </li>
            <li>
                <p>Teléfono:
                    <strong>+5493427654321</strong>
                </p>
            </li>
        </ul>
        <a href="tel:+5493427654321" id="juanDetalles-button1" class=" button button-balanced  button-block icon-left ion-android-call ">Llamar a Juan</a>
    </ion-content>
</ion-view>