<ion-view title="Settings" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="settings-form3" class="list ">
            <label class="item item-input " id="settings-textarea2">
                <span class="input-label">Estado</span><textarea placeholder=""> Hoy: Hackathon de la Bienal en la FICH! :)</textarea>
            </label>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <label class="item item-select " id="settings-select1">
                <span class="input-label">Tamaño de fuente</span>
                <select>
                    <option>Pequeño</option>
                    <option>Mediano</option>
                    <option>Grande</option>
                </select>
            </label>
            <ion-checkbox>Enter para enviar</ion-checkbox>
            <ion-checkbox>Confirmaciones de lectura</ion-checkbox>
        </form>
    </ion-content>
</ion-view>